
@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome to ASP.Net Core Index</h1>

 @* @ViewData["data1"]
 <br />
 @ViewData["data2"]
 <br/>
 @ViewData["data3"]

@{
    foreach(var item in (string[])ViewData["data4"])
    {
        <h2>@item</h2> 
    }
}

@{
    foreach (var item in (List<string>)ViewData["data5"])
    {
        <h2>@item</h2>
    }
} *@